<div class="card m-3 p-2 rounded-4 bg-info-subtle shadow-lg">
    <h3 class="text-center mt-2">So Many European Languages...</h3>
    <p><strong>Languages:</strong>My mother tongue is English. While I can communicate well
        in
        Spanish and German, it will increase the complexity of the Super Camper site to add
        other
        languages.</p>
    <p>Just remember that on most browsers now you have a button to translate everything.
    </p>
    <p>Please leave your review in your own language. Don't feel you have to translate, just
        let
        the
        browser technology do it for you.</p>

</div>