<div class="card m-3 p-2 rounded-4 bg-light shadow-lg">
    <h3 class="text-center mt-2">Categories</h3>
    <p>Is the plot in a campsite or one of those official camping spots you find in or near a town. Or is it totally
        wild and you found it and loved it because it was a special place?</p>
   
    <h5 class="mt-2 text-center">Search based on Category</h5>






    <div class="text-center">
        <a href="{% url 'campsite-plots' %}" class="btn btn-primary m-1">
            Campsite </a>
        <a href="{% url 'official-plots' %}" class="btn btn-secondary m-1">
            Official Plot</a>
        <a href="{% url 'wild-plots' %}" class="btn btn-success m-1">
            Wild</a>
    </div>


</div>