{% load static %}
{% load crispy_forms_tags %}
<comment class="card shadow mt-2">
    <div class="card-body">
        {% if comment.author%}


        <div class="d-flex flex-row justify-content-between">
            <p class="badge bg-primary-subtle text-dark"><span class="strong ">Comment by:</span>
                {{ comment.author.username}}
            <p>
                {% else %}
            <p>No Author</p>
            {% endif %}
            <span class="badge bg-primary-subtle text-dark"><span class="strong ">Date :</span> {{ comment.created }}
            </span>
        </div>
        <hr>
        <p> {{ comment.body }}</p>



                <div>
                    <div class="container">

                        <div class="col text-end">

                            {% include 'snippets/likes_comment.html' %}
                            <!-- Only allow delete by author -->
                            {% if user.is_authenticated and comment.author == user %}
                            <a class="btn bg-primary-subtle btn-sm shadow "
                                href="{% url 'delete_comment' comment.id %}">Delete
                                Comment</a>
                            {% endif %}
                        </div>
                    </div>


            {% if comment.replies.count and user.is_authenticated%}
            <h5 class="text-center text-primary bg-info-subtle py-2 border border-info rounded">Replies: {{ comment.replies.count }}
            </h5>


                    {% if comment.replies.count and user.is_authenticated%}
                    <h5 class="text-center bg-info-subtle py-2">Replies: {{ comment.replies.count }}</h5>
                    {% else %}
                    <!-- <span>Add a Reply</span> -->


            <div class="m-4">
                {% for reply in comment.replies.all %}
                {% include 'a_plots/reply.html' %}
                {% endfor %}
            </div>


                    <div class="mx-3">
                        {% for reply in comment.replies.all %}
                        {% include 'a_plots/reply.html' %}
                        {% endfor %}
                    </div>

                </div>


                <!-- Add a Reply -->
                {% if user.is_authenticated %}


        <div class="container card bg-info-subtle border-info">
            <form class="mt-2" method="POST" action="{% url 'reply_sent' comment.id %}">
                {% csrf_token %}
                {{ replyform|crispy }}
                <button class="btn btn-info block mb-3 border-primary shadow">Submit</button>
            </form>
        </div>
        {% endif %}

            </div>
        </div>
    </div>
</comment>