{% load static %}
<comment class="card shadow mt-2">
    <div class="card-body">
        {% if comment.author%}

        <p><span class="strong badge bg-primary-subtle text-dark">Comment by:</span> {{ comment.author.username }}
        <p>
            {% else %}
        <p>No Author</p>
        {% endif %}
        <p><span class="strong badge bg-primary-subtle text-dark">Date :</span> {{ comment.created }}
        <p>
        <p> {{ comment.body }}</p>

        {% if user.is_authenticated and comment.author == user %}

        <div>
            <div class="container">

                <div class="col text-end">
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_comment' comment.id %}">Delete
                        Comment</a>
                </div>
            </div>

            <hr>

            {% if comment.replies.count %}
            <h5>Replies: {{ comment.replies.count }}</h5>
            {% else %}
            <span>Add a Reply</span>

            {% endif %}


            <div class="mx-3">
                {% for reply in comment.replies.all %}
                {% include 'a_plots/reply.html' %}
                {% endfor %}
            </div>

        </div>

        {% endif %}


    </div>
</comment>