{% load static %}
{% load crispy_forms_tags %}
<comment class="card shadow mt-2">
    <div class="card-body">
        {% if comment.author%}

        <p class="badge bg-primary-subtle text-dark"><span class="strong ">Comment by:</span>
            {{ comment.author.username}}
        <p>
            {% else %}
        <p>No Author</p>
        {% endif %}
        <p class="badge bg-primary-subtle text-dark"><span class="strong ">Date :</span> {{ comment.created }}
        </p>
        <p> {{ comment.body }}</p>

        {% if user.is_authenticated and comment.author == user %}

        <div>
            <div class="container">

                <div class="col text-end">
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_comment' comment.id %}">Delete
                        Comment</a>
                </div>
            </div>

            <hr>

            {% if comment.replies.count %}
            <h5>Replies: {{ comment.replies.count }}</h5>
            {% else %}
            <span>Add a Reply</span>

            {% endif %}

            {% endif %}

            <div class="mx-3">
                {% for reply in comment.replies.all %}
                {% include 'a_plots/reply.html' %}
                {% endfor %}
            </div>
                
        </div>
        
        
        <div class="container">
            <form method="POST" action="{% url 'reply_sent' comment.id %}">
                {% csrf_token %}
                {{ replyform|crispy }}
                <button class="btn btn-info block mb-3">Submit</button>
            </form>
        </div>

    </div>
</comment>