<nav class="navbar navbar-expand-md bg-warning navbar-light">
  <div class="container">
    <a href="{% url 'home' %}">
      <img class="p-1" width="64" height="64"
        src="https://img.icons8.com/external-xnimrodx-blue-xnimrodx/64/external-tent-camping-and-outdoor-xnimrodx-blue-xnimrodx.png"
        alt="external-tent-camping" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav px-4 ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_view' %} ">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_plot' %}">Add Plot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>