<section class="bg-dark text-light py-4 text-center text-sm-start">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between">
      <div>
        <h1>Super <span class="text-warning"> Camper</span></h1>
        <p class="lead m-4">
          All the best camping plots you have found all around Europe. Was the
          plot easy to get into and out of? Was it a nice place to stay? Did you
          have a good time? Let us know! How far away was the electric hook up
          point?
        </p>
        <p class="lead m-4">
          Are there shops nearby or other facilities like restaurants and
          children's playgrounds?
        </p>
        <button class="btn btn-primary text-center">Start</button>
      </div>
      <img
        class="img-fluid w-50 d-none d-md-block"
        src="https://res.cloudinary.com/df4x68pyj/image/upload/v1700742003/samples/landscapes/nature-mountains.jpg"
        alt=""
      />
    </div>
  </div>
</section>
