<div class="container">

    <div class="bg-info m-3 p-3 rounded-4">
        <h3 class="text-center text-white mb-4">Super Campista !</h3>
        <h4 class="text-center pb-4">Super Camper is a community of campers who share their camping plot information with other campers.
        </h4>
    </div>
    <div class=" my-4">
        <div class="d-flex flex-column">

            <div class="p-2">{% include 'includes/search.html' %}</div>

            <div class="p-2">{% include 'includes/categories.html' %} </div>

            <div class="p-2">{% include 'includes/aside1.html' %} </div>

            <div class="p-2">{% include 'includes/plotoftheweek.html' %}</div>

            <div class="p-2">{% include 'includes/aside2.html' %}</div>
        </div>
    </div>
</div>