<div class="container my-5">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">{{ title }}</h1>
      <p class="lead">
        Keep track of your camping trips and share your experiences with other
        campers.
      </p>
      <p class="lead">
        Make your own database of preferred camping sites and camping plots.
        Keep in contact with your camping buddies.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
        >
          Register
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Login
        </button>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 p-0 overflow-hidden shadow-lg">
      <img
        class="rounded-lg-3"
        src="https://res.cloudinary.com/df4x68pyj/image/upload/v1700742003/samples/landscapes/nature-mountains.jpg"
        alt=""
        width="720"
      />
    </div>
  </div>
</div>
