{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container bg-light">
  <div class="card mt-5 shadow">
    <div class="card-header">Who Am I?</div>
    <div class="card-body">
      <h5 class="card-title">David Allen</h5>
      <p class="card-text">I live on the Costa Brava, Catalonia, Spain.</p>
      <p class="card-text">
        After working as a receptionist at a campsite by the beach in Platja
        d'Aro for 15 years, I claim to have some idea of what campers are
        looking for from a plot. Some people have to have a plot which allows
        use of the satellite TV and nothing else matters. During the hottest
        summer days it can be vital to having a good holiday to be under the
        trees and benefitting from shade from the blazing sun. Cooler months the
        opposite would be true and the campers coming south for the hot weather
        like to sweat it out as much as possible.
      </p>
      <p>
        My idea is for the site to be a place where campers can share their
        experiences of the plots they have stayed on. I hope that the site will
        be useful to campers and campsite owners alike. Campers will be able to
        find the best plots and campsite owners will be able to see what their
        customers think of their plots. I don't want this site to be a place for
        people to complain about the campsite owners. I want it to be a place
        where campers can share their experiences and help each other to find
        the best plots.
      </p>
      <p>
        As the site grows I want to offer interactivity where you can keep in
        contact with other campers. You will be able to make comments on other
        campers' reviews and ask questions. In time we will have items you can
        buy as souvenirs of your camping trips. I am thinking of mugs, t-shirts
        and stickers. I am open to suggestions for other items you would like to
        see.
      </p>
      <p>
        I am also open to suggestions for other features you would like to see
        on the site. I am also thinking of a section where you can share your
        camping recipes. I am open to suggestions for other features you would
        like to see.If there are folks who want to write an article about their
        camping experiences I would be happy to publish them on the site. Let's
        see how it goes.
      </p>

      <p>
        Here is an email address you can use to contact me:
        <a href="mailto:supercamper@supercapmer.com">Send me an email... </a>
      </p>

      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endblock content %}
