{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="card mt-5 shadow">
    <div class="card-header">Who Am I?</div>
    <div class="card-body">
      <h5 class="card-title">David Allen</h5>
      <p class="card-text">I live on the Costa Brava, Catalonia, Spain.</p>
      <p class="card-text">
        After working as a receptionist at a campsite by the beach in Platja
        d'Aro, Catalonia, Spain for 15 years, I can claim to have some idea of what campers are
        looking for from a plot. Some people have to have a plot which allows
        use of the satellite TV and nothing else matters. During the hottest
        summer days it can be vital to having a good holiday to get a plot under the
        trees and benefit from shade from the blazing sun. Cooler months the
        opposite would be true. Campers coming south from the cold North for the
        hot weather in Spain like to sweat it out as much as possible.
        Everyone's different. Then there are those that just need a spot close to the toilets and showers. Not much fun having to walk to the other side of the campsite in the middle of the night, when you get the call to nature.
      </p>
      <h4>Let's be Nice...</h4>
      <p>
        My idea is for the site to be a place where SuperCampers can share your
        experiences of the plots they have stayed on. I hope that the site will
        be useful to campers and campsite owners alike. Campers will be able to
        find the best plots and campsite owners will be able to see what their
        customers think of their plots. I don't want this site to be a place for
        people to complain about the campsite owners. If you want to have a moan then go do it on a site like Google or on a social network. I want SuperCamper to be a place
        where you can share your experiences and help each other to find
        the best plots.
      </p>
      <h4>More to Come</h4>
      <p>
        Already you can leave comments on plot postings as well as replies to the comments. Add a like to the plot or to the comment. As the site grows we will offer more interactivity where you can keep in
        contact with other campers. You will be able to connect with other
        campers' reviews and ask questions. In time we will have items you can
        buy as souvenirs of your camping trips. Buy SuperCamper mugs, t-shirts
        and stickers and useful camping tools. SuperCamper is open to suggestions for other items you would like to see here on the site.
      </p>
      <h4>What Else Would You like to See Here on SuperCamper</h4>
      <p>
        I am also open to suggestions for other features you would like to see
        on the site. I am also thinking of a section where you can share your
        camping recipes. I am open to suggestions for other features you would
        like to see.If there are folks who want to write an article about their
        camping experiences I would be happy to publish them on the site. Let's
        see how it goes.
      </p>

      <p>
        Here is an email address you can use to contact me:
        <a href="mailto:supercamper@supercapmer.com">Send me an email... </a>
      </p>

      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endblock content %}
