{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container-fluid ">

        <div class="row">
            {% include 'includes/cards.html' %}

            <div class=" col-lg-3 ">
                <div class=" row row-cols-md">
                    <h3 class="text-center">Super Campista !</h3>
                    <div class=" m-4">
                        <div class="col ">

                            {% include 'includes/search.html' %}

                            {% include 'includes/categories.html' %}

                            {% include 'includes/aside1.html' %}

                            {% include 'includes/aside2.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    {% include 'includes/showcase.html' %}

    {% include 'includes/questions.html' %}


    {% endblock content %}

</body>

</html>