{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<p class="d-md-none text-center">Scroll down for help with filling the form</p>
<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-lg-9 ">
            <div class="container col-md-10">
                <div class="row row-cols-md">
                    <div class="card shadow  px-md-5">
                        <h3 class="text-center">Add Your Plot</h3>

                        {% if submitted %}
                        Your Plot was submitted successfully
                        {% else %}

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid d-flex gap-2 mb-4">
                                <input type="submit" value="Submit" class="btn btn-primary ">
                                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                            </div>
                        </form>



                        {% endif %}
                    </div>

                    <!-- Add logic so only the user who created the plot can edit it -->
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row row-cols-md">
                <div class=" m-2 p-2">
                    <h5 class="text-center">How to Fill in the Form</h5>
                    <p><strong>Title: </strong>Whatever you want to call the plot</p>
                    <p><strong>Description: </strong>Add the details of what it is you like about the plot. Such as if
                        it 
                        is sunny or with shade</p>
                    <p><strong>Price: </strong>How much does it cost per night</p>
                    <p><strong>Image: </strong>Add a photo to upload</p>
                    <p><strong>Plot Number: </strong>Add a photo to upload</p>
                    <p><strong>What3Words: </strong><a target="_blank" href="https://what3words.com/">What3Words</a> is an excellent system to mark a spot easily. The whole
                        of the earth is divided into 3m squares. You could be in the middle of a desert or in forest,
                        well away from any civilisation. Still you can send an address using just 3 words.</p>
                    <p>Add the complete url including https://</p>
                    <div class="text-center mb-3"><a class="btn btn-primary btn-sm"
                            href="https://what3words.com/products/what3words-app">Get the App
                        </a></div>
                    <p><strong>Campsite: </strong>What is the name of the campsite</p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}