{% extends 'base.html' %} {% load static %} {% block content %}
{% load crispy_forms_tags %}

<div class=" container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow m-2 p-2">
                <div class="row text-center">

                    <h3 class="col-lg-6 text-center mt-2"><i class="bi bi-emoji-sunglasses text-primary"></i>
                        {{ plot.title }}</h3>

                    <div class="col-lg-6 container">
  

                        {% if plot.categories == 'Campsite' %}
                        <a class="btn mt-3 px-3 btn-primary" href="{% url 'campsite-plots' %}">Campsite</a>
                        {% endif %}

                        {% if plot.categories == 'Official' %}
                        <a class="btn mt-3 px-3 btn-secondary" href="{% url 'official-plots' %}">Official</a>
                        {% endif %}

                        {% if plot.categories == 'Wild' %}
                        <a class="btn mt-3 px-3 btn-primary" href="{% url 'wild-plots' %}">Wild</a>
                        {% endif %}




                    </div>

                </div>
                <hr>


                <!-- Plot image -->


                <figure>
                    {% if plot.image %}
                    <a href="#"><img class="w-100 mb-2" src="{{ plot.image }}" alt="Plot Image"></a>
                    {% else %}
                    <a href="#"><img class="w-100 mb-2" src="{% static 'images/default.jpg' %}" alt="Default image"></a>
                    {% endif %}
                </figure>


                <p class="text-truncate"><strong>Description:</strong> {{ plot.description }}</p>

                <p><strong>Campsite:</strong> {{ plot.campsite }}</p>
                <p><strong>Price Per Night:</strong> {{ plot.price }}</p>
                <p><strong>Country:</strong> {{ plot.country }}</p>

                {% if plot.what3words is not None %}
                <p><strong>What3Words:</strong> <a href="{{ plot.what3words }}"> Get Directions</a> </p>
                <p class="p-3">Here is a precise what3words address, made of 3 random words. Every 3 metre square in
                    the world has its own unique what3words address.</p>
                {% endif %}


                {% if user != plot.owner %}

                <p><strong>Plot Poster:</strong> {{ plot.owner }} </p>
                <p><strong>Real Name:</strong> {{ plot.owner.profile.realname }} </p>

                <hr>
                <div class="d-flex justify-content-between mx-3">
                    <div>
                        {% if plot.comments.count %}
                        <h5 class="mt-2 text-primary">
                            <i class="bi bi-megaphone-fill text-primary "></i>
                            Comments: <span class="">{{ plot.comments.count }}</span>
                        </h5>
                        {% else %}
                        <p class="mt-2">Add a Comment below..</p>
                        {% endif %}
                    </div>
                    <div>
                        <h5 >
                            
                            {% if user in plot.likes.all %}
                            <i class="bi bi-balloon-heart-fill mt-2 text-danger"></i> Liked: {{ plot.likes.count }}
                            {% else %}
                            <i class="bi bi-balloon-heart mt-2 "></i> Like: {{ plot.likes.count }}    
                            {% endif %}
                                
                        </h5>
                    </div>
                </div>
                <p>
                    {% if user.is_authenticated and user != plot.author %}
                    
                        {% if user in plot.like.all %}
                        <div class="d-flex flex-row-reverse mx-4"><a class="btn btn-sm btn-secondary"
                                href="{% url 'like_plot' plot.id %}">Remove Like</a>
                        {% else %}
                            
                        <div class="d-flex flex-row-reverse mx-4"><a class="btn btn-sm btn-secondary"
                                href="{% url 'like_plot' plot.id %}">Like</a>
                        </div>
                        {% endif %}
                        
                </p>
                    {% endif %}

                {% endif %}


                <div class="d-flex gap-4">

                    {% if user.is_authenticated and user == plot.owner %}

                    <a class="btn btn-outline-warning col" href="{% url 'edit_plot' plot.id %}">Edit Plot</a>
                    <a class="btn btn-outline-danger col" href="{% url 'delete_plot' plot.id %}">Delete Plot</a>
                    {% else %}
                    <a class="btn btn-outline-info col" href="{% url 'home' %}">Home</a>

                    {% endif %}
                </div>
            </div>
            <br>

            <div class="card">
                <h3 class="card-header text-center bg-info pb-5 pt-3 border  text-white ">Comments & Replies
                </h3>
                <div class=" card-body bg-info-subtle">


                    {% if user.is_authenticated %}
                    <div class="col mb-5">
                        <div class="card bg-warning-subtle shadow">
                            <div class="container mt-2">
                                <form method="POST" , action="{% url 'comment_sent' plot.id %}">
                                    {% csrf_token %}
                                    {{ commentform|crispy }}
                                    <button class="btn bg-primary-subtle shadow mb-2 border border-primary"
                                        type="submit">Add Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <h3 class="text-center"><a href="{% url 'login' %}">Login</a> If You Want to Make a Comment</h3>
                    <div class="col my-4" id="tab-contents">
                        {% endif %}
                        {% for comment in plot.comments.all %}
                        {% include 'includes/comment.html' %}
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>





            <div class="col-md-4">
                <div class="row row-cols-md">
                    <div class=" m-2 p-2">
                        {% include 'includes/sidebar1.html' %}
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


{% endblock content %}