{% extends 'base.html' %} {% load static %} {% block content %}
{% load crispy_forms_tags %}

<div class=" container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow m-2 p-2">
                <h3 class="text-center"><i class="bi bi-emoji-sunglasses text-primary"></i> {{ plot.title }}</h3>
                <p class="text-truncate"><strong>Description:</strong> {{ plot.description }}</p>
                <ul>
                    <li><strong>Campsite:</strong> {{ plot.campsite }}</li>
                    <li><strong>Price Per Night:</strong> {{ plot.price }}</li>
                    <li><strong>Country:</strong> {{ plot.country }}</li>

                    {% if plot.what3words is not None %}
                    <p class="p-3">Here is a precise what3words address, made of 3 random words. Every 3 metre square in
                        the world has its own unique what3words address.</p>
                    <li><strong>What3Words:</strong> <a href="{{ plot.what3words }}"> Get Directions</a> </li>
                    {% endif %}
                    <li><strong>Plot Poster:</strong> {{ plot.owner }} </li>
                    <li><strong>Real Name:</strong> {{ plot.owner.profile.realname }} </li>

                    <div>
                        <a class="btn btn-secondary btn-sm" href="">
                            {{ plot.categories }}

                        </a>
                        <!-- add a link to the category_view -->
                    </div>


                </ul>
                <figure>
                    <a href="#"><img class="w-100" src="{{ plot.image }}" alt=""></a>
                </figure>
                <div class="d-flex gap-2">

                    {% if user.is_authenticated and user == plot.owner %}

                    <a class="btn btn-outline-warning col" href="{% url 'edit_plot' plot.id %}">Edit Plot</a>
                    <a class="btn btn-outline-danger col" href="{% url 'delete_plot' plot.id %}">Delete Plot</a>
                    {% else %}
                    <a class="btn btn-outline-info col" href="{% url 'home' %}">Home</a>

                    {% endif %}
                </div>
            </div>
            <br>
            <hr>
            <div class="col mt-5">
                <div class="card shadow">
                    <h3 class="text-center">Add a Comment</h3>
                    <div class="container">
                        <form method="POST", action="{% url 'comment_sent' plot.id %}">
                            {% csrf_token %}
                            {{ commentform|crispy }}
                            <button class="btn btn-primary mb-2" type="submit">Add Comment</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col mt-4" id="tab-contents">
                <h3 class="text-center">Comments</h3>
                {% for comment in plot.comments.all %}

                {% include 'includes/comment.html' %}

                {% endfor %}
            </div>

        </div>

        <div class="col-md-4">
            <div class="row row-cols-md">
                <div class=" m-2 p-2">
                    {% include 'includes/aside1.html' %}

                    {% include 'includes/aside2.html' %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}