<reply class="d-flex items-end justify-between py-3 border-t">
    <div class="flex">

        {% if reply.author %}

        <h3 class="badge bg-info-subtle text-dark">Reply....{{ reply.author.username }}</h3>
        <span class="text-dark">{{ reply.created }}</span>
        {% else %}
        <span>No Author</span>
        {% endif %}


        <div>
            <p class="text-center">{{ reply.body }}</p>
        </div>

        {% if user.is_authenticated and reply.author == user%}

        <a class="btn btn-sm bg-info-subtle" href="{% url 'delete_reply' reply.id %}">Delete Reply</a>
        {% endif %}


    </div>
</reply>