{% extends 'base.html' %} {% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center">Report Plot</h2>

<div class="container">
    <div class="card bg-info-subtle shadow  px-md-5 ml-3 mb-4">
        <h3 class="text-center mt-4">What was the problem with the plot {{ plot.title }}?</h3>
       
        <h4 class="mb-2 p-3 text-center">Plot by {{ plot.owner }} report {{ user.username }}</h4>
        
    
        {% if submitted %}
        Your Plot was reported successfully
        {% else %}
    
        <form method="POST">
            {% csrf_token %}
            {{ form1|crispy }}
            {{ form2|crispy }}
            <div class="d-grid d-flex gap-2 mb-4">
                <input type="submit" value="Submit" class="btn btn-primary ">
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            </div>
        </form>
    
    
    
        {% endif %}
    </div>
</div>

{% endblock %}